* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Microsoft YaHei';
	width: 1200px;
	margin: 0 auto;
	background: #fff;
}

/*主体部分*/
.main {
	position: relative;
	overflow: hidden;
	width: 1200px;
	height: 500px;
	margin-top: 50px;
	border: 1px solid gray;
	border-radius: 5px;
}

.main:hover {
	cursor: pointer;
}

/*导航条*/
#list {
	width: 1200px;
	height: 50px;
}

#list li {
	font-size: 22px;
	line-height: 50px;
	float: left;
	width: 25%;
	height: 50px;
	list-style: none;
	text-align: center;
	color: #666;
	border-color: gray;
	border-radius: 5px;
	background: #fff;
}

#list li:nth-child(1) {
	font-weight: bold;
	background-color: #fc0;
}

/*轮播图*/
.image {
	width: 1200px;
	height: 450px;
	background-repeat: no-repeat;
}

.img1 {
	background-image: url('../img/1.jpg');
}

.img2 {
	background-image: url('../img/5.jpg');
}

.img3 {
	background-image: url('../img/3.jpg');
}

.img4 {
	background-image: url('../img/4.jpg');
}
